/* CSS Priority (Specificity) ნიშნავს რომელი სტილი იმარჯვებს,
როცა ერთსა და იმავე ელემენტზე რამდენიმე წესი მოქმედებს */

/* პრიორიტეტის დონეები  */

/*  1 Tag selector (p, h1, div და ა.შ.) — ყველაზე დაბალი */
/*  2 Class selector (.class) — უფრო მაღალი */
/*  3 ID selector (#id) — class-ზე მაღალი */
/*  4 Inline style (style="" ატრიბუტი HTML-ში) — ძალიან მაღალი */

/* თუ specificity ერთნაირია — იმარჯვებს ის წესი,
რომელიც კოდში უფრო ქვემოთ წერია */
/* 2) Tag selector — color names */
p {
    color: red;
    background-color: lightblue;
}


.rgb1 {
    color: rgb(255, 0, 0);
    background-color: rgb(240, 240, 240);
}

.rgb2 {
    color: rgb(0, 128, 0);
    background-color: rgb(220, 220, 255);
}

.rgb3 {
    color: rgb(0, 0, 255);
    background-color: rgb(255, 230, 200);
}

.rgb4 {
    color: rgb(255, 140, 0);
    background-color: rgb(210, 255, 210);
}

.rgb5 {
    color: rgb(128, 0, 128);
    background-color: rgb(255, 210, 240);
}


#hex1 {
    color: #ffffff;
    background-color: #000000;
}

#hex2 {
    color: #ff0000;
    background-color: #ffffcc;
}

#hex3 {
    color: #00ff00;
    background-color: #003300;
}

#hex4 {
    color: #0000ff;
    background-color: #ccccff;
}

#hex5 {
    color: #ff00ff;
    background-color: #330033;
}
