body {
    background-color: #82cae8;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.container {
    background-color: cyan;
    width: 900px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly; 
}

.card {
    background-color: yellow;
    width: 250px;
    height: 160px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-weight: bold;
    color: #000000;
}