*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 700px;
    display: grid;
    grid-template-areas:
    "header header"
    "aside content"
    "footer footer";
    grid-template-columns: 180px 500px;
    grid-template-rows: 100px 250px 100px;
    gap: 20px;
}

.header{
    grid-area: header;
    border: 3px solid blue;
    border-radius: 20px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.aside{
    grid-area: aside;
    border: 3px solid blue;
    border-radius: 20px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.content{
    grid-area: content;
    border: 3px solid blue;
    border-radius: 20px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.footer{
    grid-area: footer;
    border: 3px solid blue;
    border-radius: 20px;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}