body {
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
}

nav {
    background-color: navy;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

h1 {
    color: darkblue;
}

.main-text {
    font-size: 20px;
    color: darkred;
}

button {
    background-color: green;
    color: white;
    border: none;
}