*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
}
#red{
    width: 200px;
    height: 200px;
    background: red;
    position: absolute;
    top: 130px;
    left: 220px;
    z-index: 2;
}
#blue{
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;
    top: 145px;
    left: 255px;
    z-index: 3;
}

#purple{
    width: 200px;
    height: 200px;
    background: purple;
    position: absolute;
    top: 185px;
    left: 200px;
    z-index: 1;
}