* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont {
    width: 500px;
    height: 500px;
    background-color: red;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.child {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 400px) {
    #cont {
        background-color: purple;
        flex-direction: column;
    }
}